<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ZapTasks</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MozillaHeadline-Bold.ttf</string>
		<string>MozillaHeadline-ExtraLight.ttf</string>
		<string>MozillaHeadline-Light.ttf</string>
		<string>MozillaHeadline-Medium.ttf</string>
		<string>MozillaHeadline-Regular.ttf</string>
		<string>MozillaHeadline-SemiBold.ttf</string>
		<string>MozillaHeadline_Condensed-Bold.ttf</string>
		<string>MozillaHeadline_Condensed-ExtraLight.ttf</string>
		<string>MozillaHeadline_Condensed-Light.ttf</string>
		<string>MozillaHeadline_Condensed-Medium.ttf</string>
		<string>MozillaHeadline_Condensed-Regular.ttf</string>
		<string>MozillaHeadline_Condensed-SemiBold.ttf</string>
		<string>MozillaHeadline_Expanded-Bold.ttf</string>
		<string>MozillaHeadline_Expanded-ExtraLight.ttf</string>
		<string>MozillaHeadline_Expanded-Light.ttf</string>
		<string>MozillaHeadline_Expanded-Medium.ttf</string>
		<string>MozillaHeadline_Expanded-Regular.ttf</string>
		<string>MozillaHeadline_Expanded-SemiBold.ttf</string>
		<string>MozillaHeadline_SemiCondensed-Bold.ttf</string>
		<string>MozillaHeadline_SemiCondensed-ExtraLight.ttf</string>
		<string>MozillaHeadline_SemiCondensed-Light.ttf</string>
		<string>MozillaHeadline_SemiCondensed-Medium.ttf</string>
		<string>MozillaHeadline_SemiCondensed-Regular.ttf</string>
		<string>MozillaHeadline_SemiCondensed-SemiBold.ttf</string>
		<string>MozillaHeadline_SemiExpanded-Bold.ttf</string>
		<string>MozillaHeadline_SemiExpanded-ExtraLight.ttf</string>
		<string>MozillaHeadline_SemiExpanded-Light.ttf</string>
		<string>MozillaHeadline_SemiExpanded-Medium.ttf</string>
		<string>MozillaHeadline_SemiExpanded-Regular.ttf</string>
		<string>MozillaHeadline_SemiExpanded-SemiBold.ttf</string>
	</array>
</dict>
</plist>
